<% layout('/layouts/boilerplate.ejs') %>
    <script>
        const mapToken = "<%= process.env.MAP_ACCESS_TOKEN %>";
        const coordinates = "<%= JSON.stringify(DATA.geometry.coordinates) %>";
        const place = "<%= DATA.title %>";
    </script>

    <body style="width: fit-content; margin: auto;">
        <div class="view_container">
            <div class="card view-card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">

                        <%= DATA.title %>
                    </h5>
                    <p class="card-text">
                        <%= DATA.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Price : </b>
                        <%= DATA.price %>
                    </li>
                    <li class="list-group-item"><b>Owner : </b>
                        <%= DATA.owner.username %>
                    </li>
                    <li class="list-group-item"><b>Location : </b>
                        <%= DATA.location %>
                    </li>
                    <li class="list-group-item"><b>Country : </b>
                        <%= DATA.country %>
                    </li>
                </ul>
                <% if (user && user._id.equals(DATA.owner._id)) { %>
                    <div class="card-body btn-body">
                        <a href="/listings/id=<%= DATA._id %>/edit" class="btn btn-primary">Edit</a>
                        <form class="dlt_btn" action="/listings/id=<%= DATA._id %>?_method=DELETE" method="post"
                            style="margin-left: 1rem;">
                            <button type="submit" class="btn btn-primary"
                                style="font-weight: 100;"><b>Delete</b></button>
                        </form>
                    </div>
                    <% } %>
            </div>
            <div class="img-box">
                <img src="<%= DATA.image.url %>" class="card-img-top">
            </div>
        </div>
        <div class="feedback-box">
            <% if (user) { %>
                <form action="/listings/id=<%= DATA._id %>/reviews" method="post" class="review_form needs-validation"
                    novalidate>
                    <div class="form-control rev">
                        <label for="no-rate" class="form-label m-0 p-0">Rate the Place</label>
                        <fieldset class="starability-grow" id="rate">
                            <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="1"
                                checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="form-control">
                        <label for="exampleFormControlTextarea1" class="form-label">Review your Thoughts</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="reviews[comment]"
                            required></textarea>
                        <div class="invalid-feedback">Share your Thoughts</div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="font-weight: 100;"><b>Submit</b></button>
                </form>
                <% } %>
                    <div class="reviews">
                        <h2>Reviews</h2>
                        <div class="review-list">
                            <% for( const val of DATA.reviews) { %>
                                <div class="card review_cards">
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            style="font-size: 1rem; display: flex; align-items: center; gap: 0.4rem;">
                                            <i class="fa-solid fa-circle-user" style="font-size: 1.2rem;"></i>
                                            <%= val.author.username %>
                                        </h5>
                                        <p class="card-text"
                                            style="font-size: 0.8rem; text-align: left; margin-bottom: 0.4rem;">
                                            <b>Ratings :</b>
                                            <% for( let i=1; i <=val.rating; i++ ) { %>
                                                <i class="fa-regular fa-star"></i>
                                                <% } %>
                                        </p>
                                        <p class="card-text" style="font-size: 0.8rem; text-align: left;">
                                            <b>Reviews:</b>
                                            <%= val.comment %>
                                        </p>
                                    </div>
                                    <% if (user) { %>
                                        <form class="rev_dlt"
                                            action="/listings/id=<%= DATA._id %>/review=<%= val._id %>?_method=DELETE"
                                            method="post">
                                            <button>
                                                <a href=""><i class="fa-regular fa-pen-to-square"></i></a></button>
                                            <button type="submit">
                                                <i class="fa-solid fa-trash p-0"></i>
                                            </button>
                                        </form>
                                        <% } %>
                                </div>
                                <% } %>
                        </div>
                    </div>
        </div>
        <div class="map-container">
            <h2 style="text-align: center; margin-bottom: 1rem;">You'll be here</h2>
            <div id="map" style="border-radius: 1em;"></div>
        </div>
    </body>
    <script src="/JS/map.js"></script>

    </html>